@import 'antd/dist/antd.css';

.App {
  text-align: center;
}
.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.red{
  background-color: #E74C3C ; 
}
.green {
   background-color :#58D68D; 
}
/*
.green td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.green td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.red td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.red td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}*/

body, html { 
  font-weight: 600;
}

#buttonTeams{
  background-color: #AF878E;
  color: #fff;
  font-weight: 600;
  border:none;
}

.ant-table-wrapper {
  width: 98%;
  height: 100%;
  position: relative;
  top: 2px;
}
.ant-table {
  background-color: rgb(255, 255, 255);
  color: rgb(12, 12, 12);
}

.ant-table-thead > tr > th {
  background-color: #6661AB;
  color: white;
}

.ant-table-tbody > tr > td ,.ant-table-thead > tr > th{
  text-align: center !important;
  padding: 10px 10px !important;
}
